#!/bin/sh
# Script de arranque generado por Ansible
# Base de datos: {{ db_host }}
# Puerto de aplicacion: {{ app_port }}

echo "Iniciando servidor HTTP en puerto {{ app_port }}..."
python3 -m http.server {{ app_port }} --directory /app
